---
const stats = [
  {
    name: 'Roky zkušeností',
    value: '9',
  },
  {
    name: 'Odborníci',
    value: '15',
  },
  {
    name: 'Projekty',
    value: '122',
  },
  {
    name: 'Ocenění',
    value: "'9'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/onas.png"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">PROČ ZVOLIT PRÁVĚ NÁS?</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Jsme tým zkušených zahradníků a specialistů na péči o zeleň. Poskytujeme komplexní zahradnické služby od realizace zahrad až po jejich dlouhodobou údržbu. Pracujeme systematicky, s důrazem na kvalitu provedení, funkčnost a dlouhodobou udržitelnost.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Máme více než 15 let praxe, desítky úspěšně dokončených realizací a dlouhodobé spolupráce se soukromými i veřejnými klienty. Podíleli jsme se na realizaci a údržbě zeleně ve veřejných prostorech měst Tišnov a Brno (Líšeň, Jundrov, Starý Lískovec a Brno Sever). S mnohými udržujeme dlouhodobou spolupráci.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Ke každému projektu přistupujeme individuálně. Cílem je zahrada, která dobře funguje v každodenním provozu, je snadno udržovatelná a dlouhodobě si zachovává svou kvalitu.
              Vaše zahrada je pro nás závazkem. Výsledky naší práce jsou tou nejlepší vizitkou.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <!-- <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl> -->
      </div>
    </div>
  </div>
</section>
