---
const services = [
  {
    step: '01',
    name: 'REALIZACE ZAHRAD',
    description:
      'Zajišťujeme kompletní realizaci zahrad od terénních úprav přes výsadbu až po finální dokončení. Pracujeme precizně, s důrazem na funkčnost, kvalitu provedení a dlouhodobý výsledek.',
    bg: '/assets/gallery/zahrada.png',
  },
  {
    step: '02',
    name: 'ÚDRŽBA ZELENĚ',
    description:
      'Postaráme se o pravidelnou i jednorázovou údržbu zahrad a zelených ploch. Díky odborné péči zůstane trávník, stromy i keře zdravé, upravené a reprezentativní po celý rok.',
    bg: '/assets/gallery/travnik1.png',
  },
  {
    step: '03',
    name: 'KÁCENÍ STROMŮ',
    description:
      'Provádíme odborné kácení stromů s maximálním důrazem na bezpečnost a kontrolovaný postup. Zajistíme pokácení i následné zpracování a odvoz dřevní hmoty.',
    bg: '/assets/gallery/kaceni-stromu.png',
  },
];


---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Odbornosti</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div 
            style={`background:
    linear-gradient(rgba(0,0,0,0.55)),
    url('${service.bg}') center/cover no-repeat;`}
            class="bg-primary-500/10 dark:bg-primary-400/10 text-white flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-white/80 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
