---
const services = [
  {
    step: '01',
    name: 'Návrh zahrad',
    description:
      'Navrhujeme funkční a estetické zahrady podle vašich přání. Dbáme na harmonii prostoru, výběr vhodných rostlin a propojení zahrady s okolím.',
  },
  {
    step: '02',
    name: 'Realizace',
    description:
      'Provádíme kompletní realizaci zahrad – od terénních úprav přes výsadbu stromů a keřů až po založení trávníků a závlahových systémů.',
  },
  {
    step: '03',
    name: 'Údržba',
    description:
      'Zajišťujeme pravidelnou údržbu zahrad po celý rok. Postaráme se o řez, hnojení, péči o trávník i sezónní práce, aby vaše zahrada byla stále v perfektní kondici.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Odbornosti</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
